/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
// $purple: #7367f0 !default; //$primary
// $green: #28c76f !default; //$success
// $blue: #00cfe8 !default; //$info
// $orange: #ff9f43 !default; //$warning
// $red: #ea5455 !default; //$danger

// $rainmain: #37b5c1 !default; 

// $primary: $rainmain !default;
// $secondary: #82868b !default;
// $info: $blue !default;
// $warning: $orange !default;
// $light: $gray-50 !default;
// $dark: #4b4b4b !default;

@import "bilibiliIframe","icon";

:root {
  --ifm-color-primary: #37363f;
  --ifm-color-primary-dark: #323139;
  --ifm-color-primary-darker: #2f2e36;
  --ifm-color-primary-darkest: #242329;
  --ifm-color-primary-light: #3d3b45;
  --ifm-color-primary-lighter: #3f3e48;
  --ifm-color-primary-lightest: #53515e;
  --ifm-navbar-padding-vertical: .8rem;
  --ifm-navbar-padding-horizontal: 1rem;
  --ifm-container-width:1440px;
}
.footer--dark{
  --ifm-footer-background-color: #37363f;
}

.sidebarItem__DBe{
  margin-top: 1rem!important;
}

[data-theme='light']{
  --ifm-link-color: #1f33f3
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #4ec9fd;
  --ifm-color-primary-dark: #2dbffd;
  --ifm-color-primary-darker: #1dbafc;
  --ifm-color-primary-darkest: #03a2e5;
  --ifm-color-primary-light: #6fd3fd;
  --ifm-color-primary-lighter: #7fd8fe;
  --ifm-color-primary-lightest: #b0e7fe;
}

img{
  &[alt*="@25"] {
    zoom: 25%;
  }
  &[alt*="@50"] {
    zoom: 50%;
  }
  &[alt*="@75"] {
    zoom: 75%;
  }
  &[alt*="@100"] {
    zoom: 100%;
  }
  &[alt*="@150"] {
    zoom: 150%;
  }
  &[alt*="@200"] {
    zoom: 200%;
  }
}


li[class*=icon-]>.menu__list-item-collapsible>.menu__link--sublist:before {
  border-radius: 20px;
  bottom: 1rem;
  display: block;
  height: 20px;
  left: .6rem;
  margin-top: -5px;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 0.5rem;
  width: 10px
}


.menu__list-item-collapsible{
  margin-top: 0.5rem!important;
}

ul > .menu__list-item{
  margin-top: 0 !important;
}

.theme-doc-sidebar-item-link-level-2 > .menu__link{
  padding: 10px 12px;
  border-radius: 0;
  margin-left: 0.6rem;
  border-left: 1px solid #7b7b7b;
}
.theme-doc-sidebar-item-link-level-2 > .menu__link--active{
  border-left: 1px solid #000;
}

.theme-doc-sidebar-item-link-level-3 > .menu__link{
  padding: 10px 12px;
  border-radius: 0;
  margin-left: 0.6rem;
  border-left: 1px solid #7b7b7b;
}
.theme-doc-sidebar-item-link-level-3 > .menu__link--active{
  border-left: 1px solid #000;
}

.navbar__logo{
  margin-bottom: 1rem;
}
.dropdown>a>.navbar__item1:before{
  display: flex;
  align-items: center;
}
.dropdown > .navbar__link:after{
  display: none;
}
.navbar__link > svg{
  display: none;
}
.dropdown--right >.dropdown__menu{
    right: 0;
    left: 0;
}
.navbar__item1{
  padding: 0;
}
.DocSearch-Button{
  top: -4px;
  position: relative;
}
.navbar__brand{
  margin-right: 0!important;
}

.footer__link-item:hover{
  color: #fff;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.3rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
}